Package: xp-pen-userland-config-util
Version: 1
Architecture: all
Maintainer: Aren Villanueva <arenvillanueva@yomogi-soft.com>
Installed-Size: 98
Depends: python3, python3-pip
Section: python
Priority: optional
Description: Config util
